.about-hero {
    background-image: url("/images/premium_photo-1670271544153-dd9933f0f119.avif");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .hero-container {
    text-align: center;
    padding: 20px;
  }
  
  .hero-container h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .hero-container p {
    font-size: 1.2em;
    font-weight: 600;
  }
  
  .about-section {
    padding: 50px 0;
  }
  
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .about-content.reverse {
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  
  .about-image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 600px;
    border-radius: 10px;
    margin: 0 20px;
  }
  
  .about-text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 600px;
    padding: 20px;
  }
  
  .about-text h2 {
    font-size: 32px;
    color: #34588a;
    margin-bottom: 15px;
  }
  
  .about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .about-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }
  
    .about-image,
    .about-text {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      max-width: 100%;
      margin: 0;
      padding: 10px;
    }
  
    .about-content.reverse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    .hero-container h2 {
      font-size: 36px;
    }
  
    .hero-container p {
      font-size: 1em;
    }
  
    .about-text h2 {
      font-size: 28px;
    }
  
    .about-text p {
      font-size: 16px;
    }
  
    .team-member h3 {
      font-size: 18px;
    }
  
    .team-member p {
      font-size: 14px;
    }
  }
  