@import url(./footer.css);
@import url(./toast.css);
@import url(./course.css);
@import url(./modal.css);
@import url(./header.css);
@import url(./home.css);
@import url(./about.css);
@import url(./faq.css);
@import url(./blog.css);
@import "@fontsource/firago";
body {
  font-family: "FiraGO", sans-serif;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.register-form {
  width: 100%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px;
  -webkit-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.input-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

select {
  padding: 15px;
}

textarea {
  resize: vertical;
  height: 120px;
  width: 100%;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #041b56;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.05em;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.gallery-section {
  text-align: center;
  margin-bottom: 40px;
}

.gallery-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery-item {
  overflow: hidden;
  position: relative;
}

.gallery-image {
  width: 90%;
  height: auto;
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover .gallery-image {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
