.image-container {
  position: relative;
  width: 100%;
}

.cover-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.centered-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-weight: 800;
}

.register-button {
  margin-top: 20px;
  padding: 12px 30px;
  background-color: #4baf0d;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.register-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.register-button:hover {
  background-color: navy;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.courses-section {
  text-align: center;
  margin: 20px 0;
}

.courses-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  color: #061586;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

.course-card {
  background: navy;
  padding: 10px;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 300px;
}

.course-info {
  padding: 15px;
}

.course-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.course-info h3 {
  margin-top: 0;
  font-size: 21px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.course-link {
  color: #4baf0d;
  font-weight: 700;
  font-size: 21px;
  font-family: "Inter", sans-serif;
}

.course-info p {
  margin: 20px 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

@media (min-width: 992px) {
  .courses-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .courses-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .courses-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .course-card {
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
  }

  .course-info p {
    margin: 10px 0;
  }

  .course-info h3 {
    font-size: 18px;
  }

  .course-link {
    font-size: 18px;
  }
}
